

DATABASE_URL=DATABASE_URL
PORT=PORT


BCRYPT_SALT_ROUNDS=BCRYPT_SALT_ROUNDS
RESEND_API_KEY=RESEND_API_KEY


CLOUDE_NAME=CLOUDE_NAME
CLOUDE_API_KEY=CLOUDE_API_KEY
CLOUDE_SECRET_KEY=CLOUDE_SECRET_KEY


JWT_ACCESS_SECRET=JWT_ACCESS_SECRET
JWT_ACCESS_EXPIRSE=JWT_ACCESS_EXPIRSE


JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRESE=JWT_REFRESH_EXPIRESE